#!/bin/bash

alias ll='ls -la'

# ip helpers
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# preserve color in less
alias less="less -r"

alias wrapoff='tput rmam'
alias wrapon='tput smam'

